<!DOCTYPE html>
{% load staticfiles%}
<html>
<head>
    <title>About</title>
</head>
<body>
    <h1>This Template has been put together by Ken Diasilua</h1>
    <div>
        Ugandan Knuckles and a Cat!<br />
        <strong>{{boldmessage}}</strong>
    </div>
    <div>
        <a href="/rango/">Rango<a><br />
        <img src="{% static "images/knuckles.jpg" %}"
        alt ="Highly detailed image of January's most intellectual and influential meme" />
        <img src= "{{MEDIA_URL}}cat.jpg" />

    </div>
</body>
</html>
