{% extends 'rango/base.html' %}
{% load staticfiles%}
{% block title_block %}
    About
{% endblock %}

{% block body_block%}
    <h1>rango says here is the about page</h1>
    <h1>This Template has been put together by Ken Diasilua</h1>

    <div>
        <p> visits: {{ visits }}</p>
        Ugandan Knuckles and a Cat!<br />
        <strong>{{boldmessage}}</strong>
    </div>
    <div>
        <img src="{% static "images/knuckles.jpg" %}"
        alt ="Highly detailed image of January's most intellectual and influential meme" />
        <img src="/media/cat.jpg"
        alt="A mighty feline"/>
    </div>
{% endblock %}